.sidebar-item {
  padding: 15px 25px;
  cursor: pointer;
  border-top: 1px solid var(--borders-light);
}

.sidebar-item:hover,
.sidebar-item-selected {
  background-color: var(--primary-transparent);
}

.sidebar-item > p {
  font-weight: 600;
}
