.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
  background-image: radial-gradient(
    var(--borders-light) 0.9px,
    var(--background) 0.9px
  );
  background-size: 16px 16px;
  background-color: var(--background);
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }

  .layout-sidebar {
    width: 250px;
    border-right: 1px solid var(--borders-light);
    flex-shrink: 0;
    height: 100vh;
    overflow-y: auto;
  }

  .layout-content {
    flex: 1;
    overflow-y: auto;
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .layout-sidebar {
    width: 100%;
    border-bottom: 1px solid var(--borders-light);
  }

  .layout-content {
    flex: 1;
  }
}
