.pokemon-detail-container > h1 {
  margin-bottom: 20px;
  width: 100%;
}

.pokemon-detail-sections-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.container {
  background-color: var(--background);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.135);
  flex: 1;
  box-sizing: border-box;
  min-width: 350px;
  opacity: 1;
  border: 1px solid var(--borders-light);
}

.pokemon-image-container {
  display: grid;
  place-content: center;
}

.pokemon-image-container > img:hover {
  cursor: pointer;
  background-color: var(--primary-transparent);
  border-radius: 100%;
}

.pokemon-types-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pokemon-detail-container > img {
  cursor: pointer;
}
