.pokemon-detail-container {
  display: grid;
  place-content: center;
  height: 100vh;
  text-align: center;
  gap: 10px;
}

.pokemon-types-container {
  display: flex;
  justify-content: center;
}

.pokemon-detail-container > img {
  cursor: pointer;
}

.image-wrapper {
  display: grid;
  place-content: center;
  background-color: var(--background-medium);
  border: 5px solid var(--borders-medium);
  border-radius: 100%;
  cursor: pointer;
  padding: 5px;
}

.image-wrapper:hover {
  background-color: var(--primary-transparent);
  border-color: var(--primary);
}
